@page
@model Presentation.Pages.VerifyEmailFailed
@{
    ViewData["Title"] = "Email Verification Failed";
    Layout = "_Layout";
}

<div class="container">
    <h1>Social Campus</h1>
    <h1>Email Verification Failed</h1>

    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <p class="error-message">@Model.Error</p>
    }
    else
    {
        <p class="error-message">We're sorry, but the email verification failed due to an unknown error.</p>
    }

    <p>You may now safely close this page.</p>

    <div class="footer">
        &copy; @DateTime.Now.Year Social Campus. All rights reserved.
    </div>
</div>