.sidebar {
  width: 220px;
  padding: 20px;
  position: fixed;
  height: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.head img {
  height: 40px;
}

.head span {
  font-size: 25px;
  font-weight: bold;
}

.logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.exit-icon {
  opacity: 0.5;
  font-size: 30px;
  transition: all 0.3s;
  color: var(--general-text-color);
}

.exit-icon:hover {
  opacity: 1;
}
