.sidebar {
  width: 220px;
  padding: 20px;
  position: fixed;
  height: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.head img {
  height: 40px;
}

.head span {
  font-size: 25px;
  font-weight: bold;
}
