.nav-item a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 550;
  text-decoration: none;
  font-size: 20px;
  color: var(--general-text-color);
  opacity: 0.6;
  transition: all 0.3s;
}

.nav-item a:hover {
  opacity: 1;
}
.nav-item .icon {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  font-size: 30px;
}
