.short-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.short-info * {
  margin: 0;
  padding: 0;
}

.short-info .profile-info {
  padding: 0;
}

.short-info .profile-image {
  height: 50px;
  width: 50px;
}
