.horizontal-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: calc(100vw - 20px);
  padding: 10px;
}

.horizontal-navbar * {
  margin: 0;
  padding: 0;
}

.horizontal-navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.exit-icon {
  opacity: 0.5;
  font-size: 30px;
  transition: all 0.3s;
  color: var(--general-text-color);
}

.exit-icon:hover {
  opacity: 1;
}

.add-publish-short {
  margin: 0;
  padding: 0;
  font-size: 30px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
