.create-publication {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  height: auto;
  max-height: 400px; /* Limit the height of the whole container */
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: auto; /* Enable scrolling if the content exceeds max height */
}

.publication-text {
  height: 50px;
  width: auto;
  background-color: var(--background-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-family: "Roboto";
  font-size: 16px;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controles {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.publish-button {
  width: 100px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-preview {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
