.create-publication {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  height: auto;
  max-height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.publication-text {
  width: auto;
  min-height: 50px;
  background-color: var(--background-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-family: "Roboto";
  font-size: 16px;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.publish-button {
  width: 100px;
  font-size: 16px;
}

.image-preview {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.image-upload-icon {
  margin: 0;
  opacity: 0.5;
  color: var(--general-text-color);
}

.image-upload-icon:hover {
  opacity: 1;
}

.image-preview-container {
  position: relative;
}

.remove-image-icon {
  z-index: 3;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(246, 248, 250, 0.5);
}

.close-creation-icon {
  margin: 0;
  opacity: 0.5;
  color: var(--general-text-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-creation-icon:hover {
  opacity: 1;
}

.close-creation-icon,
.remove-image-icon,
.image-upload-icon {
  font-size: 26px;
}

.back-text {
  font-size: 20px;
}
