/* textPost/TextPost.css */

.profile-info {
    display: flex;
    flex-direction: column;
    color: #eee;
  }
  
  .profile-name {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
  }
  
  .profile-username {
    font-size: 1em;
    color: #cccccc;
    margin: 5px 0 0;
  }
  
  .profile-bio {
    font-size: 0.9em;
    color: #bbbbbb;
    margin: 10px 0;
  }
  