html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  position: relative;
  left: 260px;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55px);
  width: calc(100% - 520px);
}

.main-full-width {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-main {
  width: calc(100% - 520px);
  position: relative;
  left: 260px;
  text-align: center;
  bottom: 10px;
  padding-top: 20px;
}

.footer {
  position: relative;
  text-align: center;
  bottom: 10px;
  padding-top: 20px;
}
