.comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

.comment-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-info .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comment-text {
  font-size: 18px;
  color: var(--general-text-color);
  margin: 10px 0;
  font-weight: normal;
}

.commenter-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.edit-comment-icon {
  font-size: 23px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  color: var(--icon-panel-color);
}

.edit-comment-icon:hover {
  opacity: 1;
}

.comment-interactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.replies-section {
  margin-left: 20px;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}
