.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.left-half,
.right-half {
  flex: 1;
  display: flex;
  align-items: center;
}

.left-half {
  justify-content: flex-end;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.right-half {
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.logo {
  width: 350px;
  height: auto;
  padding: 0;
  margin: 0;
}

.welcom {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  border-radius: 8px;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.welcome-text {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.slogan-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.have-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.have-account-text {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.register-button,
.login-button {
  font-size: 17px;
}

@media (max-width: 980px) {
  .landing-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .left-half,
  .right-half {
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .logo {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .welcom {
    width: auto;
  }
}
