.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.left-half,
.right-half {
  flex: 1;
  display: flex;
  align-items: center;
}

.left-half {
  justify-content: flex-end;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.right-half {
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.logo {
  width: 350px;
  height: auto;
  padding: 0;
  margin: 0;
}

.welcom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 350px;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 10px;
  font-size: 33px;
}

h2 {
  margin: 35px 0 10px 0;
  font-size: 22px;
}

p {
  margin: 0 5px 20px 5px;
  font-size: 18px;
}

.welcom button {
  font-size: 17px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.google-button {
  background-color: #db4437;
  color: white;
  padding: 10px 20px;
}

.google-button:hover {
  background-color: #c1351d;
}

@media (max-width: 980px) {
  .landing-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .left-half,
  .right-half {
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .logo {
    width: 100px;
  }
}

@media (max-width: 490px) {
  .welcom {
    height: 375px;
    width: auto;
  }
}
