.message-bubble-container {
  width: 100%;
  display: flex;
  gap: 5px;
}

.message-bubble-container.highlight {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease-in-out;
}

.message-bubble-container.fade-out {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s ease-in-out;
}

.message-bubble-sender {
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.message-bubble-receiver {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.message-bubble-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 50%;
}

@media (max-width: 450px) {
  .message-bubble-content {
    max-width: 60%;
  }
}

.reply-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.025);
  background-color: rgba(0, 0, 0, 0.05);
  max-height: 100px;
  overflow: hidden;
}

@media (max-width: 450px) {
  .reply-info {
    max-height: 70px;
  }
}

.message-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: flex-start;
  word-wrap: break-word;
  word-break: break-word;
}

.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: 2px solid var(--secondary-text-color);
}

.message-content-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-sender-name {
  padding: 0;
  margin: 0;
}

.message-text {
  padding: 0;
  margin: 0;
  font-weight: lighter;
}

.message-timestamp {
  padding: 0;
  margin: 0;
  text-align: right;
  font-weight: lighter;
}

.message-interactions {
  display: none;
  flex-direction: row;
  gap: 10px;
}

.message-bubble-container:hover .message-interactions {
  display: flex;
}
