.forgot-password-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forgot-password-left-panel,
.forgot-password-right-panel {
  flex: 1;
  display: flex;
  align-items: center;
}

.forgot-password-left-panel {
  justify-content: center;
  padding-right: 50px;
}

.forgot-password-right-panel {
  justify-content: center;
  padding-left: 50px;
}

.forgot-password-logo {
  width: 350px;
  height: auto;
  padding: 0;
  margin: 0;
}

.forgot-password-form-card {
  width: 400px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 8px;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.forgot-password-form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.forgot-password-loading-wrapper {
  padding: 62px 0;
}

.forgot-password-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.forgot-password-title {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.forgot-password-button {
  font-size: 16px;
  margin: 5px 0;
}

.forgot-password-show-password-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
  font-size: 15px;
  cursor: pointer;
}

.forgot-password-checkbox {
  padding: 0;
  margin: 0;
  width: auto;
}

@media (max-width: 980px) {
  .forgot-password-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .forgot-password-left-panel,
  .forgot-password-right-panel {
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .forgot-password-logo {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .forgot-password-form-card {
    width: auto;
  }
}