.signup-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: calc(100vh - 55px);
  margin: 0 auto;
}

.left-half,
.right-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 70%;
  height: auto;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 575px;
  background-color: var(--background-color);
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  margin: 0;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.signup h1 {
  font-size: 24px;
}

.signup h2 {
  font-size: 18px;
  margin: 10px;
}

.signup button {
  font-size: 16px;
}

.signup div {
  padding: 5px;
}

.goWelcom {
  margin-top: 10px;
}
