.wraper {
  width: 100%;
}

.profile {
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--active-like-color);
  padding: 15px;
  border-radius: 0px;
  position: relative;
  height: 120px;
}

.profile-header .profile-image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 80px;
  left: 20px;
  border: 7px solid var(--background-color);
  background-color: var(--background-color);
}

.profile-header .profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  outline: 2px solid var(--secondary-text-color);
}

.profile-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.short-info-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-name {
  font-size: 30px;
  margin: 0;
}

.profile-login {
  padding-top: 5px;
  margin: 0;
}

.profile-bio {
  margin: 0;
  padding-top: 20px;
}

.profile-stats {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  font-weight: bold;
  padding: 0 20px;
}

.not-found-text {
  text-align: center;
  padding: 50px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.no-publications-text {
  text-align: left;
  padding: 20px 30px;
  margin: 0;
}

.edit-profile-link {
  font-size: 16px;
  background-color: transparent;
  border: 2px solid var(--general-text-color);
  color: var(--general-text-color);
  padding: 10px 15px;
}

.edit-profile-link:hover {
  background-color: rgba(176, 179, 184, 0.2);
}
